
server:
  servlet:
    context-path: /geb

spring:
  profiles:
    active: ${ENVIRONMENT:dev}
#  servlet:
#    multipart:
#      max-file-size: 10MB
#      max-request-size: 10MB
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/db_geb}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASS:root}
    initialization-mode: never
    tomcat:
      test-while-idle: true
      validation-query: SELECT 1
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ${DATABASE_SCHEMA:public}
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
          temp:
            use_jdbc_metadata_defaults: false
  flyway:
    baseline-on-migrate: true
    locations:
      - classpath:db/migration

#aws:
#  access_key_id: ${S3_KEY}
#  secret_access_key: ${S3_SECRET}
#  s3:
#    bucket: caderneta-conta
#    region: sa-east-1
#
#img:
#  prefix:
#    client:
#      profile: cp
#  profile:
#    size: 200
#
#mail:
#  username: ${EMAIL_USER}
#  password: ${EMAIL_PASS}
#  smtp:
#    auth: true
#    debug: true
#    from: ${EMAIL_USER}
#    host: smtp.googlemail.com
#    port: 465
#    socketFactory:
#      class: javax.net.ssl.SSLSocketFactory
#      fallback: false
#      port: 465
#    ssl:
#      enable: true
#    starttls:
#      enable: true
#      required: true
#  test-connection: true
#  transport:
#    protocol: smtp

jwt:
  secret: ${JWT_SECRET:SequenciaDeCaracteresParaAssinarToken}
  expiration: ${JWT_EXPIRATION:604800000}
  
client:
  user_url: ${USER_URL:http://localhost:8080/geb}
  instrument_url: ${INSTRUMENT_URL:http://localhost:8080/geb}
  voice_url: ${VOICE_URL:http://localhost:8080/geb}
  
feign:
    hystrix:
        enabled: true